.titolo_pagina div, .bottoni div {
    background-color: #EEA0A7;
}

.separatore {
    border-top: 7px solid #EEA0A7 !important;
}

.descrizione_centrale h3 {
    color: #EEA0A7 !important;
}

.storia {
    background-color: #EEA0A7 !important;
}

.benefici h3 {
    color: #EEA0A7;
}

.descrizione_centrale img {
    border-radius: 24px;
}